.head {
    color: #fff;
    text-align: center;
    font-weight: 600;
    font-size: 22px;
}

/* Used on section tag. Moved up here in order to set margins on lower order tags */
.newsStatsSectionWrap {
   background-color: #18191A; 
}

.newsStatsContainer {
    margin-left: 48px;
    margin-right: 48px;
    padding: 2px;
    display: grid;
    grid-template-columns: 1fr 280px;
    
}

/*
.newsWrap, .glWrap {
    border: 1px solid red;
}
*/

.aboutParagraph {
    margin-left: 128px;
    margin-right: 128px;
    text-align: center;
    color:#18191A;
    font-size: 16px;
}

.header-button {
    display: inline-block;
    text-align: center;
    color: black !important;
    background-color: #198bd2;
    border: 2px solid black;
    border-radius: 20px;
    padding: 8px 16px;
    font-size: 0.9rem;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0s ease;
    cursor: pointer;
    box-sizing: border-box;
}

.header-button:hover {
    background-color: white;
    transform: scale(1.05);
}

.header-button:active {
    transform: scale(0.95);
}
